  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Blank
      </ion-title>
    </ion-toolbar>
  </ion-header>

    <ion-content [fullscreen]="true">
      <ion-header collapse="condense">
        <ion-toolbar>
          <ion-title size="large">Blank</ion-title>
        </ion-toolbar>
      </ion-header>

        <div>

          <div class="grid md:grid-cols-3">
            <nav class="md:col-span-1">
              <div>
                <h1 class="font-bold uppercase p-4 border-b border-gray-100">
                  <a href="/" class="font-sans hover:font-serif">Food Ninja</a>
                </h1>
              </div>
              <ul>
                <li class="text-gray-700 font-bold">
                  <a href="#">
                    <span>Home</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <span>About</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <span>Contact</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        
          <main class="px-16 py-6 md:col-span-2 bg-gray-100">
            <!--  justify deals with with where the element will be positioned-->
            <div class="flex justify-end"> 
              <a class="text-red-300 " href="#">Log in</a>
              <a class="text-red-300 ml-2"href="#">Sign up</a>
            </div>

            <!--<div class="flex justify-center items-end" items(arrange content)>
              <div class="bg-red-500 h-4 w-6"></div>
              <div class="bg-blue-500 h-8 w-6"></div>
              <div class="bg-green-500 h-12 w-6"></div>
            </div>-->

            <header class="text-gray-700 text-6xl font-semibold">
              <h2>Recipes</h2>
              <h3 class="text-2xl font-semibold">For Ninjas</h3>
            </header>

            <div>
              <h4 class="font-bold pb-2 mt-12 border-b border-gray-200">Latest Recipes</h4>
        
              <div class="mt-8 grid lg:grid-cols-3 gap-10">
                <!-- cards go here -->
                <div class="rounded bg-white border-gray-200 shadow-md overflow-hidden relative"> 
                  <img class="h-32 sm:h-48 w-full object-cover" src="assets/stew.jpg" alt="stew">
                  <div class="m-4">
                    <span class="font-bold">5 Bean Chili Stew</span>
                    <span class="block text-gray-500 text-sm">Recipe by Queen Lisa</span>
                  </div>
                  <div class="absolute top-0 ml-2 mt-2 p-2 bg-secondary-100 text-secondary-200 text-xs uppercase font-bold rounded-full">
                    <span>25 mins</span>
                  </div>
                </div>
                <div class="rounded bg-white border-gray-200 shadow-md overflow-hidden relative"> 
                  <img class="h-32 sm:h-48 w-full object-cover" src="assets/noodles.jpeg" alt="stew">
                  <div class="m-4">
                    <span class="font-bold">Rabokki (Tteokbokki + Ramen)</span>
                    <span class="block text-gray-500 text-sm">Recipe by Queen Lisa</span>
                  </div>
                  <div class="absolute top-0 ml-2 mt-2 p-2 bg-secondary-100 text-secondary-200 text-xs uppercase font-bold rounded-full">
                    <span>25 mins</span>
                  </div>
                </div>
                <div class="rounded bg-white border-gray-200 shadow-md overflow-hidden relative"> 
                  <img class="h-32 sm:h-48 w-full object-cover" src="assets/curry.jpeg" alt="stew">
                  <div class="m-4">
                    <span class="font-bold">Chicken Panang Curry</span>
                    <span class="block text-gray-500 text-sm">Recipe by Queen Lisa</span>
                  </div>
                  <div class="absolute top-0 ml-2 mt-2 p-2 bg-secondary-100 text-secondary-200 text-xs uppercase font-bold rounded-full">
                    <span>25 mins</span>
                  </div>
                </div>

              </div>

              <h4 class="font-bold pb-2 mt-12 border-b border-gray-200">Most Popular</h4>

              <div class="mt-8">
                <!-- cards go here -->
              </div>
            </div>

            <div class="flex justify-center">
              <div class="bg-secondary-100 text-secondary-200">Load more</div>
            </div>    
          </main>
        </div>

    </ion-content>
