<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="bg-red-500" >
   <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae vero doloribus, modi provident quia aliquam deleniti, sed, atque expedita dolor eaque! Voluptates, expedita! Provident fuga quibusdam sunt saepe excepturi labore?
   </p>
  </div>
</ion-content>
